<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="WindwardReports" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <WindwardReports>

    <add key="license" value="[[LICENSE]]"/>

  </WindwardReports>

	<appSettings>
		<add key="NumberThreads" value="4"/>
	</appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
