<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM.WINDWARD" version="8.5.0.2" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net48" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="net48" />
  <package id="Microsoft.Data.OData" version="5.6.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.5" targetFramework="net48" />
  <package id="Microsoft.OData.Core" version="6.9.0" targetFramework="net48" />
  <package id="Microsoft.OData.Edm" version="6.9.0" targetFramework="net48" />
  <package id="Microsoft.Spatial" version="6.9.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net48" />
  <package id="WindwardEngine" version="21.5.2.6" targetFramework="net48" />
</packages>