<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="WindwardReports" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <WindwardReports>

    <add key="license" value="93b7b1a8-f852-42c1-85d5-84cade6ff3d9"/>

  </WindwardReports>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>

